.test{
  background-color: red;
}

#grid{
  height: 150px;
  width: 150px;
  background-color: yellow;
}



.cell{
  height: 45px;
  width: 45px;
  background-color: red;
  display: inline-block;
  border: 1px solid black;
}

.cell > div{
  position: relative;
  left: 10px;
  top: 10px;
  font-size: 24px;
}


.block{
  
}